<form class="form-inline">
    <input class="form-control" type="text" name="q" id="q_id" placeholder="Поиск" oninput="search_specialities()">
    <br/>
</form>
<script src="/js/search_specialities.js" type="application/javascript"></script>