<script src="/js/load_ticket_enrollee.js" type="application/javascript"></script>
<script type="application/javascript">
    function null_case() {
        var department = document.getElementById("department");
        var id = department.options[department.selectedIndex].value;
        var text = department.options[department.selectedIndex].text;
        document.getElementById("sender_field").innerHTML =
                "<a style='color:whitesmoke' href='/enrollee/${model.enrollee.getId()}'>${model.enrollee.getUser().getFirstName()} ${model.enrollee.getUser().getSecondName()  }</a>";
        document.getElementById("receiver").setAttribute("value", id);
        document.getElementById("receiver_field").innerHTML =
                "<a style='color:whitesmoke' href='/department/" + id + "'>" + text + "</a>";
        document.getElementById("title").setAttribute("value", "");
        document.getElementById("content").setAttribute("value", "");
        document.getElementById("answer_field").innerHTML = "Заявка пока не отправлена. Ответа нет.";
        document.getElementById("answer").setAttribute("value", "");
        document.getElementById("status_field").innerHTML = "В ожидании отправки";
        document.getElementById("status").setAttribute("value", "");
        $("#department").val(id);
        $("#status").val("");
        /*
        $.ajax({
            data: {"q": department},
            dataType: 'json',
            url: "/department-specialities-search",
            type: 'POST',
            success: function (result) {
                $("#speciality").html("");
                for (var i = 0; i < result[1].length; i++) {
                    var option = "<option value='" + result[0][i] + "'>";
                    $("#speciality").append(option + result[1][i] + "</option>");
                }
                $("#speciality").append("</select><br/>");
            },
            error: function (e) {
                console.log("error: " + e);
            }
        })
        */
    }
</script>